In [61]:
# Data removal
from os import listdir
from os.path import isfile, join
path = r"C:\Users\11507\Desktop\X Academy 2021\MeGlass_120x120\MeGlass_120x120/Without/validation"
onlyfiles = [f for f in listdir(path) if isfile(join(path, f))]
type(onlyfiles)

list

In [62]:
from pandas import DataFrame
list = onlyfiles
dffilename = DataFrame (onlyfiles,columns=['file'])

In [63]:
dffilename

                                             file
0      108207546@N07_identity_3@12582048654_1.jpg
1      108207546@N07_identity_3@12582120514_0.jpg
2     110433537@N03_identity_56@14042984112_0.jpg
3     110433537@N03_identity_56@14046302275_0.jpg
4     110433537@N03_identity_56@14046697684_4.jpg
...                                           ...
2510    99962592@N00_identity_43@2300941862_0.jpg
2511     99962592@N00_identity_43@809807340_0.jpg
2512     99962592@N00_identity_43@809808190_0.jpg
2513    99974871@N00_identity_11@4945552563_0.jpg
2514     99974871@N00_identity_11@953775062_2.jpg

[2515 rows x 1 columns]

In [64]:
import pandas as pd
path1 = r"C:\Users\11507\Desktop\X Academy 2021\MeGlass_120x120\MeGlass_120x120/final.csv"
dffinal = pd.read_csv(path1)

In [65]:
dffinal

                                             img  label
0       10032527@N08_identity_4@2582182573_0.jpg    0.0
1       10032527@N08_identity_4@2582191559_0.jpg    0.0
2       10032527@N08_identity_4@2582274191_0.jpg    0.0
3       10032527@N08_identity_4@2583119706_0.jpg    0.0
4       10032527@N08_identity_4@2590796978_0.jpg    0.0
...                                          ...    ...
11001  99962592@N00_identity_43@2300941862_0.jpg    0.0
11002   99962592@N00_identity_43@809807340_0.jpg    0.0
11003   99962592@N00_identity_43@809808190_0.jpg    0.0
11004  99974871@N00_identity_11@4945552563_0.jpg    0.0
11005   99974871@N00_identity_11@953775062_2.jpg    0.0

[11006 rows x 2 columns]

In [68]:
dffilename_filter = dffilename[~ dffilename['file'].isin(dffinal['img'])]

#dffilename_filter2 = dffinal[~ dffinal['img'].isin(dffilename['file'])]

In [67]:
dffilename_filter

                                          file
1599   96552496@N00_identity_1@803449023_1.jpg
1600   96552496@N00_identity_1@803666417_1.jpg
2060  98551956@N00_identity_1@7591679266_1.jpg
2078  98642193@N00_identity_0@1176724019_1.jpg

In [70]:
#  for i in range(4):
#      print(dffilename_filter.iloc[i][0])
#      os.remove(r"C:\Users\11507\Desktop\X Academy 2021\MeGlass_120x120\MeGlass_120x120/Without/validation"+ '/' + dffilename_filter.iloc[i][0])

96552496@N00_identity_1@803449023_1.jpg
96552496@N00_identity_1@803666417_1.jpg
98551956@N00_identity_1@7591679266_1.jpg
98642193@N00_identity_0@1176724019_1.jpg